# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Figure files
*.png
*.svg
*.pdf
ECMWF/FIGS/*
ECMWF/OD/*

# Data files
ODEN/DATA/*
UM/DATA/*
*.csv
*.nc
*.pp
*.npy
*.mat

# Compiled files
*.pyc

# ERA5 grib files
ERA5/*
*grib*

# Temporary processing scripts for JASMIN
diags_CloudNet_JASMIN.py
pullTrack_CloudNet_JASMIN.py

# sub-directories in Cloudnet dirs
Cloudnet/OBS_DATA/*
