# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Figure files
*.png
*.svg
ECMWF/FIGS/*
ECMWF/OD/*

# Data files
ODEN/DATA/*
UM/DATA/*
*.txt
*.nc
*.pp
*.npy

# Compiled files
*.pyc

# ERA5 grib files
ERA5/*

# Temporary processing scripts for JASMIN
diags_CloudNet_JASMIN.py
pullTrack_CloudNet_JASMIN.py
